.navbar {
    position: sticky;
    top: 0;
    height: 7rem;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.769);
    color: rgb(235, 235, 235);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1000; */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: underline;
  }
  
  .navbar a:hover {
    color: rgba(182, 182, 182, 0.892);
  }