#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  background-color: rgba(32, 32, 32, 0.903);
}

.topNav a {display: flex;
  justify-content: space-between;
  text-decoration: underline;
  color: aliceblue;
}

.header {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.header h1 {
  padding: 4rem;
  text-decoration: underline;
}

.header p {
  padding: 4rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.navBar h3 {
  text-decoration: underline;
}

.navBar a {
  text-decoration: underline;
  cursor: pointer;
}


.artistDisplay {
  display: flex;
  justify-content: center;
}

.artistCard {
  max-width: 200px;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  /* border: 1px solid azure; */
  margin: 3rem;
}

.artistCard img {
  width: 150px;
  height: 150px;
  padding: 1rem;
}

.artistCard a {
  text-decoration: underline;
    font-weight: 700;
    color: #e6e6e6;
    text-decoration: underline;
    border: 2px solid #e6e6e6;
    padding: 1rem;
    cursor: pointer;
}

.artistCard a:hover {
  color: #1f1f1f;
  background-color: rgb(207, 207, 207);
}

.reviewCard {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  color: #e6e6e6;
  background-color: rgba(20, 21, 21, 0.527);
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem;
  margin: 1rem;
}
.footer h3 {
  text-decoration: underline;
}

 nav, main, footer {
  background-color: rgba(24, 24, 24, 0.892);
  padding: 1rem;
  margin: 1rem;
  width: 100%;
 }