:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
background-image: url(./assets/Venation-Dark.jpg);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #323232eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Mobile-first styles (default) */
@media (min-width: 486px) {
  body {
    font-size: 16px;
    padding: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  body {
    font-size: 18px;
    padding: 20px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  body {
    font-size: 19px;
    padding: 25px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    padding: 30px;
  }
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}
